#appointments_panel
  %h2#month
    = link_to '<', appointments_change_path(date: @date.prev_month, view: @view), remote: true
    = @date.strftime("%B %Y")
    = link_to '>', appointments_change_path(date: @date.next_month, view: @view), remote: true
  = calendar @date do |date|
    = date.day
