// TODO duplicated in move
// TODO fix this. should be abstracted to data
$(".client-appointment.#{@appointment.id} .client-appointment-time").html("#{format_appointment_interval(@hour, @slot, @appointment.duration)}");
$(".client-appointment.#{@appointment.id}").data('duration', "#{@appointment.duration}");
// TODO maybe better to remove data-interval and recalulate every time it is needed?
$(".client-appointment.#{@appointment.id}").data('interval', "#{format_appointment_interval(@hour, @slot, @appointment.duration)}");
